version: '3.8'

services:
  # Эмуляция Managed PostgreSQL
  postgres:
    image: postgres:15-alpine
    container_name: cyber_postgres
    restart: always
    environment:
      POSTGRES_USER: cyber_user
      POSTGRES_PASSWORD: cyber_password
      POSTGRES_DB: cyber_market_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # ИНТ для БД
  pgadmin:
    image: dpage/pgadmin4
    container_name: cyber_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@cyber.local
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  postgres_data:
